*{
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    outline: none !important;
}

@font-face {
    font-family: 'tiger';
    src: url('https://raw.githack.com/awortham33/awortham33.github.io/master/fonts/tigersharkbold.ttf');
}

@font-face {
    font-family: 'andromeda';
    src: url('https://raw.githack.com/awortham33/opendepo/master/Andromeda.otf');
}


body{
    background-color:#000;
    color:#fff;
    text-transform:uppercase;
    font-family: 'andromeda', sans-serif;
}

a{
    color:#fff;
    text-decoration: none;
}

a:hover{
    opacity:.6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidebar{
    position: fixed;
    z-index: 1;
    top:0;
    
}

ul.menu{
    padding-left: 20px;
}

.sidebar-menu li{
    font-size:17px;
    text-align: left;
    list-style: none;
    padding-top:10px;
    
}

.logo img{
    padding-left:20px;
    padding-top:10px;
    height:65px;
}

.scroll{
    text-align: center;
}

.scroll img{
    height:30px;
}

.credits{
    text-align: center;
    font-size: 12px;
    padding:0px;
    margin:0px;
    margin-top:20px;
}

.credits p{
    padding:0px;
    margin:0px;
}

/* //// POSTS //// */


.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0px 20px;
    
}

.column img {
    margin-top: 40px;
    vertical-align: middle;
    
}


.visuals{
    margin-top: 70px;
}

.visuals p{
    text-align: center;
    font-size:40px;
}

.container{
    width: 800px;
    margin: 0 auto;
    margin-top:30px;
    
}

/* //// MEDIA //// */


.media2{

    margin: 0 auto;
    padding: 0 0 0 0;
    border: 2px solid #1D1F21;
    /* width: 500px; */
    /*background-color: #fff;*/
}



.media_area{
    /*float: left;*/
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px; 
    /*width:100%; */
    /*height: 562.5px; */
    /*background-color: #1C1C1E;*/
    /*overflow: hidden;*/
    
}


#video-display {
    /*position:absolute;*/
    left: 0; 
    width: 100%;
    height: ;
    margin: 0 auto;
    padding: 0 auto;
    /*border: 3px solid #fff;*/

}



/* //// VIDEO BACKGROUND //// */


#video-background {
    position:fixed;
    left: 0;
    top: 0;

    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: 810px;
    z-index: -100;
}



/* //// RESPONSIVE //// */

@media screen and (max-width: 500px){
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 820px){
    .container{
        width: 95%;
        margin-top:10px;
    }
    .visuals{
        margin-top: 40px;
        margin-bottom:40px;
    }
    

}
@media screen and (max-width: 1050px){
    #video-background{display: none;}
    .scroll{display:none;}
    .buffer{display:none;}
    .sidebar-menu li{text-align:center;}
    ul.menu{padding-left:0px;}
    .sidebar{position:inherit;text-align:center;  }
    .logo img{
        padding-left:0px;
        padding-top:10px;}

    .row{
        width:auto;
    }
}


